$green-1: rgb(10, 104, 48);           // #0A6830
$green-2: rgb(73, 171, 68);           // #49AB44
$green-3: rgb(157, 224, 191);         // #9DE0BF
$green-4: rgb(198, 247, 223);         // #C6F7DF
$green-5: rgb(227, 252, 240);         // #E3FCF0

$red-1: rgb(188, 54, 43);             // #BC362B
$red-2: rgb(240, 64, 50);             // #F04032